<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Phoenix</display-name>
  <welcome-file-list>
    <welcome-file>/pages/home.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>ApplicationResource</param-value>
  </context-param>
  <servlet>
    <servlet-name>tiles</servlet-name>
    <servlet-class>org.apache.tiles.web.startup.simple.SimpleTilesInitializerServlet</servlet-class>
    <init-param>
      <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
      <param-value>/WEB-INF/tiles.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>frontController</servlet-name>
    <servlet-class>
			sg.edu.nus.iss.phoenix.core.controller.PhoenixFrontController</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>scheduleController</servlet-name>
    <servlet-class>
			sg.edu.nus.iss.phoenix.maintainschedule.controller.ScheduleController
		</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>SelectPresenterProducerController</servlet-name>
    <servlet-class>
			sg.edu.nus.iss.phoenix.core.controller.ReviewSelectPresenterProducerController
		</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SelectRadioProgramController</servlet-name>
    <servlet-class>
			sg.edu.nus.iss.phoenix.core.controller.ReviewSelectRadioProgramController
		</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>SelectScheduleController</servlet-name>
    <servlet-class>
			sg.edu.nus.iss.phoenix.core.controller.ReviewSearchScheduleController
		</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>scheduleController</servlet-name>
    <url-pattern>/ScheduleController/*</url-pattern>
  </servlet-mapping>

   <servlet-mapping>
    <servlet-name>SelectPresenterProducerController</servlet-name>
    <url-pattern>/SelectPresenterProducerController/*</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>SelectRadioProgramController</servlet-name>
    <url-pattern>/SelectRadioProgramController/*</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
    <servlet-name>SelectScheduleController</servlet-name>
    <url-pattern>/SelectScheduleController/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>frontController</servlet-name>
    <url-pattern>/controller/*</url-pattern>
  </servlet-mapping>
</web-app>